@media (max-width: 1170px) {
    .hero .container {
        text-align: center;
        margin: 4rem 0 0 0;
    }
    
    .footer {
        justify-content: center;
        margin-top: 7rem;
        padding-bottom: 5rem;
    }

    .footer .icons{
        margin: initial; 
    }
}

@media (max-width: 700px) {
    .header svg {
        margin: 2rem 0 0 3rem;
    }
    
    .hero svg {
        width: 85%;
        height: 45%;
        margin: 3rem 0;
    }

    

    .hero .container a.button {
        padding: 1.5rem 8rem;
    }

    .hero .container .title {
        font-size: 2.5rem;
        padding: 0 4rem;
        margin-bottom: 1rem;
    }

    .hero .container .description {
        padding: .6rem 3rem;
        line-height: 2.7rem;
    }
}

@media (max-width: 425px) {
    body {
        background: hsl(257, 40%, 49%) url("../images/bg-mobile.svg") no-repeat;
        background-size: 100vw;
    }
}